.boxholder	
	- @questions.each do |question|
		.indexresultsbox
			.indexresultstitle
				= link_to question.text, question_path(question.id)
			.indexcanvasbox
				.indexdoughnuthole
				%canvas{:class => 'indexchart-canvas', :id => "#{question.id}", :width => '300', :height => '300'}
