- @questions.each do |question|
	.indexresultsbox
		.indexresultstitle
			= question.text
		.indexcanvasbox
			.indexdoughnuthole
			%canvas{:class => 'indexchart-canvas', :id => "#{question.id}", :width => '300', :height => '300'}
