%footer
  .words
  .social
    =image_tag "fb.jpg"
    =image_tag "twit.jpg"
    =image_tag "pin.jpg"
    =image_tag "gog.jpg"
    =image_tag "my.jpg"
    =image_tag "link.jpg"
    =image_tag "insta.jpg"
    =image_tag "rss.jpg"