%nav
  .line
  .icons
    %ul#face
      %li
        - if current_user
          .logout_image
            =link_to image_tag('logout.png'), session_path(current_user.id), :method => 'delete'
          .logout_text
            Logout Account
        - else
          .logout_image
          = link_to image_tag('logout.png'), new_session_path
          .logout_text
            Login
      %li
        .pie_image
          =image_tag 'pie.png'
        .pie_text 
          Statistics
      %li
        .mail_image
          =image_tag 'mail.png'
        .mail_text
          Webmail
      %li
        .cloud_image
          =image_tag 'cloud.png'
        .cloud_text
          Questions
      %li
        .profile_image
          =image_tag 'profile.png'
        .profile_text
          Profile
  =image_tag 'logo.jpg'