.main
  %nav
    .line
    .icons
      %ul#face
        %li
          =image_tag 'logout.png'
        %li
          =image_tag 'pie.png'
        %li#envelope
          =image_tag 'mail.png'
        %li
          =image_tag 'cloud.png'
        %li
          =image_tag 'profile.png'
    =image_tag 'logo.jpg'
    %ul
      %li Logout Account
      %li Statistics
      %li WebMail
      %li Questions
      %li#profile Profile
  .dialogue
    %h1 ASK YOUR FRIENDS ANYTHING. HERE.
  .features
    .yellow
      .iphone
        =image_tag 'gear.png'
        .iphonetext
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
      .android
        =image_tag 'star.png'
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
      .web
        =image_tag 'earth.png'
        .webtext
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
  %footer
    .words
    .social
      =image_tag "fb.jpg"
      =image_tag "twit.jpg"
      =image_tag "pin.jpg"
      =image_tag "gog.jpg"
      =image_tag "my.jpg"
      =image_tag "link.jpg"
      =image_tag "insta.jpg"
      =image_tag "rss.jpg"