.adminlogin
	= simple_form_for :login, :html => { autocomplete: "off" }, url: administrator_adminlogin_path do |f|
		= f.input :email, label: "Enter your email", :autofocus => true
		= f.input :password, label: "Enter your password"
		= f.button :submit, "Login"