@font-face {
  font-family:'Quark-Light';
  src: url('quark/Quark-Light.eot');
  src: url('quark/Quark-Light.eot?#iefix') format('embedded-opentype'),
      url('quark/Quark-Light.woff') format('woff'),
      url('quark/Quark-Light.ttf') format('truetype'),
      url('quark/Quark-Light.svg#Quark-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family:'Quark-Bold';
  src: url('quark/Quark-Bold.eot');
  src: url('quark/Quark-Bold.eot?#iefix') format('embedded-opentype'),
      url('quark/Quark-Bold.woff') format('woff'),
      url('quark/Quark-Bold.ttf') format('truetype'),
      url('quark/Quark-Bold.svg#Quark-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}