.boxholder
	width: 600px
	margin: 0 auto

.indexresultsbox
	margin: 30px
	margin-left: 0px
	width: 550px
	height: 400px
	background-color: rgba(0, 0, 0, .75)
	display: none
	a
		text-decoration: none
		color: white
		width: 550px
		height: 400px
		position: absolute

.indexcanvasbox
	width: 500px
	height: 500px
	margin: 0 auto
	padding: 80px

.indexchart-canvas
	margin-top: -250px
	margin-left: 50px

.indexdoughnuthole
	margin-left: 100px
	width: 200px
	height: 200px
	border-radius: 50%
	background-color: white

.indexresultstitle
	color: white
	margin-top: 15px
	margin-left: 10px
	font-family: 'Quark-Light'
	font-size: 20px
	padding-top: 15px

.indexbackground
	width: 100%
	margin: 0px
	height: 100%
	background-image: image_url('blurred.jpg')